<!DOCTYPE>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>scoop - boilerplate using Corneal, ActiveRecord, Capistrano, Puma and Nginx</title>
    <meta name="author" content="Abhinav Saxena">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Habibi&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/public/images/favicons/safari-pinned-tab.svg" color="#64748b">
    <link rel="shortcut icon" href="/public/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/public/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Scoop</strong></small>
	<small>
		<a href="https://github.com/abhinavs/scoop" title="scoop on github">on github</a> |
	contact: <a href="http://twitter.com/abhinav" title="abhinav">abhinav</a> | 
	<a href="https://www.abhinav.co" title="homepage">homepage</a></small>
      </footer>
    </div>

  </body>
</html>
